 Expected Loss

In [59]:
loan_data_preprocessed_new = pd.concat([loan_data_preprocessed, loan_data_inputs_pd], axis = 1)
# We concatenate the dataframes where we calculated LGD and EAD and the dataframe where we calculated PD along the columns.

In [60]:
loan_data_preprocessed_new['EL'] = loan_data_preprocessed_new['PD']*loan_data_preprocessed_new['LGD']*loan_data_preprocessed_new['EAD']
# We calculate Expected Loss. EL = PD * LGD * EAD.

In [61]:
loan_data_preprocessed_new[['funded_amnt','PD','LGD','EAD','EL']].head()

   funded_amnt  funded_amnt        PD       LGD          EAD          EL
0         5000         5000  0.129025  0.913729  2949.608449  347.741612
1         2500         2500  0.253241  0.915482  1944.433378  450.792607
2         2400         2400  0.198979  0.919484  1579.934302  289.061529
3        10000        10000  0.162627  0.904924  6606.559612  972.256733
4         3000         3000  0.101499  0.911453  2124.631667  196.553781

In [62]:
loan_data_preprocessed_new['PD'].describe()

count    466285.000000
mean          0.109365
std           0.068291
min           0.007533
25%           0.057254
50%           0.095353
75%           0.146449
max           0.685083
Name: PD, dtype: float64

In [63]:
loan_data_preprocessed_new['LGD'].describe()

count    466285.000000
mean          0.919597
std           0.057557
min           0.564539
25%           0.872698
50%           0.898636
75%           1.000000
max           1.000000
Name: LGD, dtype: float64

In [64]:
loan_data_preprocessed_new['EAD'].describe()

count    466285.000000
mean      10814.846760
std        6935.184562
min         190.347372
25%        5495.101413
50%        9208.479591
75%       14692.844549
max       35000.000000
Name: EAD, dtype: float64

In [65]:
loan_data_preprocessed_new['EL'].describe()

count    466285.000000
mean       1085.100656
std        1081.839495
min           8.991861
25%         364.615314
50%         715.598354
75%        1414.182017
max       12037.202304
Name: EL, dtype: float64

In [66]:
print("Expected Loss at portfolio level =",loan_data_preprocessed_new['EL'].sum())

Expected Loss at portfolio level = 505966159.4671676

In [67]:
print("Total Expected Loss as a proportion of total funded amount for all loans =",loan_data_preprocessed_new['EL'].sum() / loan_data_preprocessed_new['funded_amnt'].sum().values[0])

Total Expected Loss as a proportion of total funded amount for all loans = 0.07592469646111018

# END